<!DOCTYPE html>
<html class="dark"
    style="--color-primary-50: 245 243 255; --color-primary-100: 237 233 254; --color-primary-200: 221 214 254; --color-primary-300: 196 181 253; --color-primary-400: 167 139 250; --color-primary-500: 139 92 246; --color-primary-600: 124 58 237; --color-primary-700: 109 40 217; --color-primary-800: 91 33 182; --color-primary-900: 76 29 149; --color-primary-950: 46 16 101; --color-muted-50: 248 250 252; --color-muted-100: 241 245 249; --color-muted-200: 226 232 240; --color-muted-300: 203 213 225; --color-muted-400: 148 163 184; --color-muted-500: 100 116 139; --color-muted-600: 71 85 105; --color-muted-700: 51 65 85; --color-muted-800: 30 41 59; --color-muted-900: 15 23 42; --color-muted-950: 2 6 23;"
    lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ether Gas Refund | Forgot Password</title>
    
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <link rel="stylesheet" href="/output.css">

</head>

<body>
    <div class="bg-muted-100 dark:bg-muted-900 relative min-h-screen w-full overflow-hidden px-4">
        <br>
        <br>
        <br>
        <div class="flex w-full items-center justify-center">
            <div class="relative mx-auto w-full max-w-2xl">
                <div class="me-auto ms-auto mt-4 w-full">
                    <div class="me-auto ms-auto mt-4 w-full max-w-md">
                        <div class="text-center">
                            <h2 class="nui-heading nui-heading-3xl nui-weight-medium nui-lead-normal">Recover Password
                            </h2>
                            <p
                                class="nui-paragraph nui-paragraph-sm nui-weight-normal nui-lead-normal text-muted-400 mb-6">
                                Follow the instructions sent to your email address</p>
                        </div>
                        <form method="POST" action="/user/forgot-password" class="px-8 py-4" novalidate="">
                            
                            <p class="text-muted-400 mt-4 flex justify-between font-sans text-sm leading-5"><span>False
                                    alert?</span><a href="/login"
                                    class="text-primary-600 hover:text-primary-500 font-medium underline-offset-4 transition duration-150 ease-in-out hover:underline">Sign
                                    in</a></p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>