<!DOCTYPE html>
<html data-wf-domain="scoinex.webflow.io" data-wf-page="657d97671a6b26e018e212af"
  data-wf-site="657d97671a6b26e018e212a5" data-wf-status="1" lang="en">

<head>
  <meta charset="utf-8" />
  <title>Ether Refund | An Ethereum Gas Refund Campaign</title>
  <meta content="Ether Refund | An Ethereum Gas Refund Campaign" property="og:title" />
  <meta
    content="./images/ether.png"
    property="og:image" />
  <meta content="Ether Refund | An Ethereum Gas Refund Campaign" property="twitter:title" />
  <meta
    content="Discover Scoinex, your gateway to financial prowess. Unleash the power of our Webflow template, purposefully crafted for financial experts, investment firms, and more. Elevate your online presence with a modern, responsive, and user-friendly design. Showcase your financial brilliance effortlessly with Scoinex."
    property="twitter:description" />
  <meta
    content="./images/ether.png"
    property="twitter:image" />
  <meta property="og:type" content="website" />
  <meta content="summary_large_image" name="twitter:card" />
  <meta content="width=device-width, initial-scale=1" name="viewport" />
  <meta content="Webflow" name="generator" />
  <link href="../assets-global.website-files.com/657d97671a6b26e018e212a5/css/scoinex.webflow.c1829accd.css"
    rel="stylesheet" type="text/css" />
  <link href="../fonts.googleapis.com/index.html" rel="preconnect" />
  <link href="../fonts.gstatic.com/index.html" rel="preconnect" crossorigin="anonymous" />
  <script src="../ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js" type="text/javascript"></script>
  <script
    type="text/javascript">WebFont.load({ google: { families: ["Inter:300,regular,500,600,700,800,900"] } });</script>
  <script
    type="text/javascript">!function (o, c) { var n = c.documentElement, t = " w-mod-"; n.className += t + "js", ("ontouchstart" in o || o.DocumentTouch && c instanceof DocumentTouch) && (n.className += t + "touch") }(window, document);</script>
  <link href="./images/ether.png"
    rel="shortcut icon" type="image/x-icon" />
  <link href="./images//ether.png"
    rel="apple-touch-icon" /><!-- Please keep this css code to improve the font quality-->
  <style>
    * {
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
  </style>
</head>

<body class="body">
  <div class="page-wrapper">
    <div data-animation="default" class="navbar-component w-nav" data-easing2="ease"
      fs-scrolldisable-element="smart-nav" data-easing="ease" data-collapse="medium"
      data-w-id="cb586d45-c780-7d3c-8cfb-0ef259a07291" role="banner" data-duration="400">
      <div class="navbar-container" style="height:80px">
        <div class="inner-container" style="width: 400px;"><a href="index.html" aria-current="page"
            class="navbar-logo-link" width="300px" height="50px"><img
              src="./images/ether-removebg-preview.png" width="150px" height="35px"
              loading="lazy" alt=""></a></div>
        
              
        <div class="navbar-ntm-header"><span  class="button-filled interact-button is-small w-button">get started</span></div>
        
        
      </div>
    </div>
    <div class="main-wrapper">
      <section class="section hero-homepage">
        <div class="container-default">
          <div class="inner-container">
            <div class="w-layout-grid grid _2-col">
              <div data-w-id="89bc854d-52c2-1c5f-c89b-b97f96f46c67" style="opacity:0"
                class="inner-container justify-center">
                <div class="max-width-md">
                  <h1 data-w-id="89bc854d-52c2-1c5f-c89b-b97f96f46c68" style="opacity:0" class="h1-heading-medium">Ethereum Gas Refund Campaign <span class="accent-text"></span></h1>
                  <div class="b1-body-regular">With the launch of ETH 2.0, we are rewarding Ethereum users for all the gas fees they have spent. Introducing SETH, a token distributed linear to your gas fee spendage. a project by Ethereum Foundation.</div>
                  <div class="spacing-xl"></div>
                </div>
                <div data-w-id="89bc854d-52c2-1c5f-c89b-b97f96f46c6f" style="opacity:0" class="btn-wrapper"><button
                    href="" class="button-filled interact-button w-button">Claim Refund</button></div>
              </div>
              <div id="w-node-_3074880d-c870-0ed9-2aaa-3b9e0d520bbe-18e212af"
                data-w-id="3074880d-c870-0ed9-2aaa-3b9e0d520bbe" style="opacity:0" class="inner-container">
                <div class="image-wrapper"><img
                    src="../assets-global.website-files.com/657d97671a6b26e018e212a5/ethh.webp"
                    loading="lazy" sizes="(max-width: 991px) 100vw, (max-width: 1919px) 49vw, 50vw"
                    srcset="../assets-global.website-files.com/657d97671a6b26e018e212a5/ethh.webp 500w, ../assets-global.website-files.com/657d97671a6b26e018e212a5/ethh.webp 800w, ../assets-global.website-files.com/657d97671a6b26e018e212a5/ethh.webp 978w"
                    alt="" class="image hero-home" /></div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section partner-logo">
        <div class="container-default">
          <div id="w-node-_6072806f-57be-5111-40ff-ef6d2927db35-18e212af"
            data-w-id="6072806f-57be-5111-40ff-ef6d2927db35" style="opacity:0" class="inner-container">
            <div id="w-node-_6072806f-57be-5111-40ff-ef6d2927db36-18e212af"
              data-w-id="6072806f-57be-5111-40ff-ef6d2927db36" class="partner-logo-wrapper">
              <div class="logo-wrapper">
                <div id="w-node-_6072806f-57be-5111-40ff-ef6d2927db38-18e212af" class="image-wrapper logo"><img
                    src="./images/download.svg"
                    loading="lazy" width="250" height="100" alt="" class="logo" /></div>
              </div>
              <div class="logo-wrapper"><img
                  src="./images/download (1).svg"
                  loading="lazy" width="250" height="100" alt="" class="logo" /></div>
              <div class="logo-wrapper"><img
                  src="./images/download (2).svg"
                  loading="lazy" width="250" height="100" alt="" class="logo" /></div>
              <div class="logo-wrapper"><img
                  src="./images/download (3).svg"
                  loading="lazy" width="250" height="100" alt="" class="logo" /></div>
              <div class="logo-wrapper"><img
                  src="./images/download (4).svg"
                  loading="lazy" width="250" height="100" alt="" class="logo" /></div>
              <div class="logo-wrapper"><img
                  src="./images/download (5).svg"
                  loading="lazy" width="250" height="100" alt="" class="logo" /></div>
              <div class="logo-wrapper"><img
                  src="./images/download (6).svg"
                  loading="lazy" width="250" height="100" alt="" class="logo" /></div>
            </div>
          </div>
        </div>
      </section>
      <section data-w-id="963cd842-11b7-6a07-c66a-8fb1d629aeab" style="opacity:0" class="section introducing">
        <div class="container-default">
          <div data-w-id="84bf15f2-258d-5f1a-da2a-63173c48b404" style="opacity:0" class="inner-container align-center">
            
            <div class="spacing-md"></div>
            <h3 class="h3-heading-medium text-align-center" style="font-size:20px;">This project is designed to give back to the Ethereum community. Our purpose is to quickly 
              and conviniently determine what wallets are eligible to recieve a refund for excessive gas fee spent during transactions on Ethereum. Good Luck!!! <br /></h3>
            <div class="spacing-xl"></div>
          
          </div>
        </div>
      </section>
      <!-- <section data-w-id="52585ae1-ac46-add8-8892-cf78df9547d1" class="section company-story">
        <div class="container-default">
          <div data-w-id="52585ae1-ac46-add8-8892-cf78df9547d3" class="inner-container align-center">
            <div id="w-node-_52585ae1-ac46-add8-8892-cf78df9547d4-df9547d1"
              data-w-id="52585ae1-ac46-add8-8892-cf78df9547d4" class="content-wrapper align-center">
              <div class="badge-wrapper">
                <div class="badge">
                  <div class="icon-height-2xs"><img
                      src="../assets-global.website-files.com/657d97671a6b26e018e212a5/657eb837b6545ac9af6c0ce4_lucide_stars.svg"
                      loading="lazy" alt="" /></div>
                  <div class="b1-body-regular">THE ROADMAP</div>
                </div>
              </div>
              <h2 class="h2-heading-medium">What changes are coming to Ethereum?<br /></h2>
              <div class="spacing-3xl"></div>
            </div>
          </div>
           <div data-w-id="52585ae1-ac46-add8-8892-cf78df9547db" class="inner-container align-stretch">
            <div data-delay="4000" data-animation="slide" class="roadmap-slide w-slider" style="max-width: 100%;" data-autoplay="true"
              data-easing="ease" data-hide-arrows="false" data-disable-swipe="false"
              data-w-id="52585ae1-ac46-add8-8892-cf78df9547dc" data-autoplay-limit="0" data-nav-spacing="4"
              data-duration="500" data-infinite="true">
              <div class="roadmap-mask w-slider-mask">
                <div class="milestone-collumn w-slide">
                  <div class="milestone-wrapper">
                    <div class="milestone-card">
                      <h6 class="h6-heading-medium">Cheaper transactions</h6>
                      <div id="w-node-_52585ae1-ac46-add8-8892-cf78df9547e3-df9547d1" class="b1-body-regular">Rollups are too expensive and rely on centralized components. The roadmap includes fixes for this problems.
                      </div>
                    </div>
                    <div class="point-wrapper">
                      <div class="milestone-point">
                        <div class="milestone-circle"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="milestone-collumn bottom w-slide">
                  <div class="position-bottom">
                    <div class="milestone-wrapper bottom">
                      <div class="point-wrapper">
                        <div class="milestone-point">
                          <div class="milestone-circle"></div>
                        </div>
                      </div>
                      <div class="milestone-card">
                        <h6 class="h6-heading-medium">Extra security</h6>
                        <div id="w-node-_52585ae1-ac46-add8-8892-cf78df9547f1-df9547d1" class="b1-body-regular">Ethereum is already very secure but it can be made even stronger, ready to withstand all kinds of attack far into the future.
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="milestone-collumn w-slide">
                  <div class="milestone-wrapper">
                    <div class="milestone-card">
                      <h6 class="h6-heading-medium">Better user experience</h6>
                      <div>
                        <div id="w-node-_52585ae1-ac46-add8-8892-cf78df9547f9-df9547d1" class="b1-body-regular">More support for smart contract wallets and light-weight nodes will make using Ethereum simpler and safer.
                        </div>
                      </div>
                    </div>
                    <div class="point-wrapper">
                      <div class="milestone-point">
                        <div class="milestone-circle"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="milestone-collumn bottom w-slide">
                  <div class="position-bottom">
                    <div class="milestone-wrapper bottom">
                      <div class="point-wrapper">
                        <div class="milestone-point">
                          <div class="milestone-circle"></div>
                        </div>
                      </div>
                      <div class="milestone-card">
                        <h6 class="h6-heading-medium">Future proofing</h6>
                        <div id="w-node-_52585ae1-ac46-add8-8892-cf78df954807-df9547d1" class="b1-body-regular">Ethereum researchers and developers are solving tomorrow's problems today, readying the network for future generations.
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              
              <div data-w-id="52585ae1-ac46-add8-8892-cf78df95483b" class="timeline-line-wrapper">
                <div class="timeline-line"></div>
              </div>
              <div class="blur-background"></div>
              <div class="blur-background right"></div>
              <div class="slide-nav w-slider-nav w-round"></div>
            </div>
            <div class="spacing-2xl"></div>
          </div> -->
        </div>
      </section>
    </div>
    <footer data-w-id="78e5b33e-d8ed-b7d7-331b-f69cc7d95110" class="section footer">
      
      <div class="container-default">
        <div data-w-id="78e5b33e-d8ed-b7d7-331b-f69cc7d95113" class="inner-container">
          <div class="spacing-2xl"></div>
          <div class="footer-bottom-wrapper">
            <div class="interact-button b2-body-regular">Powered by <a href=""
                class="interact-button footer-legal-link">The Ethereum Foundation</a> and backed by <a href=""
                class="interact-button footer-legal-link">Our Dedicated Community</a></div>
            <div class="interact-button w-layout-grid footer-legal-list"><a href=""
                class="interact-button footer-legal-link">Privacy Policy</a><a href=""
                class="interact-button footer-legal-link">Terms of Service</a><a href=""
                class="interact-button footer-legal-link">Cookies Settings</a></div>
          </div>
          <div class="spacing-md"></div>
        </div>
      </div>
    </footer>
  </div>
  <!-- <script src="./71356645-06e4-4f56-a16b-de55fa78fce9.js"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
    type="text/javascript"></script>
  <script src="../assets-global.website-files.com/657d97671a6b26e018e212a5/js/webflow.73a4adf3f.js"
    type="text/javascript"></script>
</body>

</html>