<!DOCTYPE html>
<html class="dark"
    style="--color-primary-50: 245 243 255; --color-primary-100: 237 233 254; --color-primary-200: 221 214 254; --color-primary-300: 196 181 253; --color-primary-400: 167 139 250; --color-primary-500: 139 92 246; --color-primary-600: 124 58 237; --color-primary-700: 109 40 217; --color-primary-800: 91 33 182; --color-primary-900: 76 29 149; --color-primary-950: 46 16 101; --color-muted-50: 248 250 252; --color-muted-100: 241 245 249; --color-muted-200: 226 232 240; --color-muted-300: 203 213 225; --color-muted-400: 148 163 184; --color-muted-500: 100 116 139; --color-muted-600: 71 85 105; --color-muted-700: 51 65 85; --color-muted-800: 30 41 59; --color-muted-900: 15 23 42; --color-muted-950: 2 6 23;"
    lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ether Gas Refund | Register </title>
    <link rel="stylesheet" href="/output.css">
    
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>

</head>

<body>
    <div id="__nuxt" data-v-app="">
        <div><!---->
            <div transition="[object Object]">
                <div class="nuxt-loading-indicator"
                    style="position: fixed; top: 0px; right: 0px; left: 0px; pointer-events: none; width: auto; height: 3px; opacity: 0; background: rgb(var(--color-primary-500)); transform: scaleX(0); transform-origin: left center; transition: transform 0.1s ease 0s, height 0.4s ease 0s, opacity 0.4s ease 0s; z-index: 999999;">
                </div>
                <div><!---->
                    <div
                        class="bg-muted-800/60 fixed start-0 top-0 z-[99] h-full w-full cursor-pointer transition-opacity duration-300 opacity-0 pointer-events-none">
                    </div>
                </div>
                <div class="dark:bg-muted-800 flex min-h-screen bg-white">
                    <div
                        class="from-primary-900 to-primary-500 i group relative hidden w-1/2 items-center justify-around overflow-hidden bg-gradient-to-tr md:flex">
                        <div style="margin-top: -300px;" class="mx-auto max-w-xs text-center">
                            <h2 class="nui-heading nui-heading-3xl nui-weight-medium nui-lead-normal text-white">Have an
                                Account? </h2>
                            <p
                                class="nui-paragraph nui-paragraph-sm nui-weight-normal nui-lead-normal text-muted-200 mb-3">
                                No need to waste time on this page, let's take you back to your account</p><a
                                href="/login"
                                class="nui-button nui-button-medium nui-button-curved nui-button-solid nui-button-default w-full"
                                rel="" disabled="false">Login to Account<!----></a>
                        </div>
                        <div
                            class="bg-muted-200/20 absolute -start-6 -top-6 h-14 w-0 origin-top-left rotate-45 rounded-full transition-all delay-[25ms] duration-300 group-hover:w-72">
                        </div>
                        <div
                            class="bg-muted-200/20 absolute -top-12 start-20 h-14 w-0 origin-top-left rotate-45 rounded-full transition-all delay-75 duration-300 group-hover:w-48">
                        </div>
                        <div
                            class="bg-muted-200/20 absolute -start-7 top-24 h-14 w-0 origin-top-left rotate-45 rounded-full transition-all delay-150 duration-300 group-hover:w-40">
                        </div>
                        <div
                            class="bg-muted-200/20 absolute -bottom-6 -end-6 h-14 w-0 origin-bottom-right rotate-45 rounded-full transition-all delay-150 duration-300 group-hover:w-72">
                        </div>
                        <div
                            class="bg-muted-200/20 absolute -bottom-12 end-20 h-14 w-0 origin-bottom-right rotate-45 rounded-full transition-all delay-75 duration-300 group-hover:w-48">
                        </div>
                        <div
                            class="bg-muted-200/20 absolute -end-7 bottom-24 h-14 w-0 origin-bottom-right rotate-45 rounded-full transition-all delay-[25ms] duration-300 group-hover:w-40">
                        </div>
                    </div>
                    <div class="relative flex flex-1 flex-col justify-center px-6 py-12 lg:w-2/5 lg:flex-none">
                        <div class="dark:bg-muted-800 relative mx-auto w-full max-w-sm bg-white">
                            <div style="margin-left: 35px;" class="flex w-full items-center justify-between"><a href="/"
                                    class="text-muted-400 hover:text-primary-500 flex items-center gap-2 font-sans font-medium transition-colors duration-300"><svg
                                        data-v-3954970a="" xmlns="http://www.w3.org/2000/svg"
                                        xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img"
                                        class="icon h-5 w-5" width="1em" height="1em" viewBox="0 0 24 24">
                                        <path fill="currentColor"
                                            d="m1.027 11.993l4.235 4.25L6.68 14.83l-1.821-1.828L22.974 13v-2l-18.12.002L6.69 9.174L5.277 7.757z">
                                        </path>
                                    </svg><span>Back to Home</span></a></div>
                            <div>
                                <br><br>
                                <form method="POST" action="/register" id="register" class="mx-auto w-full max-w-xs" >
                                    <h2 class="nui-heading nui-heading-3xl nui-weight-medium nui-lead-normal">Welcome to
                                        Ether Gas Refund
                                    </h2>
                                    <p
                                        class="nui-paragraph nui-paragraph-sm nui-weight-normal nui-lead-normal text-muted-400 mb-6">
                                        Let's start by creating you account</p>
                                    
                                    <ul style="color: red;">
                                        <% if(typeof errors != 'undefined') {%> <% errors.forEach(error=>{%>
                                            <li><%= error.message %></li>
                                            <%})%> <% } %>
                                    </ul>
                                    <br>
                                    <div class="mb-4 space-y-3">

                                        
                                        <div>
                                            <label for="user_name" style="margin-bottom: -5px; margin-left: 5px; color: rgb(227, 229, 234);"
                                                class="nui-paragraph nui-paragraph-sm nui-weight-normal nui-lead-normal text-muted-400 mb-6">
                                                User Name</label>
                                        </div>
                                        <div
                                            class="nui-input-wrapper nui-input-default nui-input-md nui-input-curved nui-has-icon">
                                            <!---->
                                            <div class="nui-input-outer">


                                                <div><input name="user_name" id="ninja-input-1" type="text" class="nui-input"
                                                        placeholder="User name"><!----><!---->
                                                    <div class="nui-input-icon"><svg data-v-3954970a=""
                                                            xmlns="http://www.w3.org/2000/svg"
                                                            xmlns:xlink="http://www.w3.org/1999/xlink"
                                                            aria-hidden="true" role="img"
                                                            class="icon nui-input-icon-inner" width="1em" height="1em"
                                                            viewBox="0 0 256 256">
                                                            <g fill="currentColor">
                                                                <path d="M224 128a96 96 0 1 1-96-96a96 96 0 0 1 96 96"
                                                                    opacity=".2">
                                                                </path>
                                                                <path
                                                                    d="M72 128a134.63 134.63 0 0 1-14.16 60.47a8 8 0 1 1-14.32-7.12A118.8 118.8 0 0 0 56 128a71.73 71.73 0 0 1 27-56.2a8 8 0 1 1 10 12.49A55.76 55.76 0 0 0 72 128m56-8a8 8 0 0 0-8 8a184.12 184.12 0 0 1-23 89.1a8 8 0 0 0 14 7.76A200.19 200.19 0 0 0 136 128a8 8 0 0 0-8-8m0-32a40 40 0 0 0-40 40a8 8 0 0 0 16 0a24 24 0 0 1 48 0a214.09 214.09 0 0 1-20.51 92a8 8 0 1 0 14.51 6.83A230 230 0 0 0 168 128a40 40 0 0 0-40-40m0-64A104.11 104.11 0 0 0 24 128a87.76 87.76 0 0 1-5 29.33a8 8 0 0 0 15.09 5.33A103.9 103.9 0 0 0 40 128a88 88 0 0 1 176 0a282.24 282.24 0 0 1-5.29 54.45a8 8 0 0 0 6.3 9.4a8.22 8.22 0 0 0 1.55.15a8 8 0 0 0 7.84-6.45A298.37 298.37 0 0 0 232 128A104.12 104.12 0 0 0 128 24M94.4 152.17a8 8 0 0 0-9.4 6.25a151 151 0 0 1-17.21 45.44a8 8 0 0 0 13.86 8a166.67 166.67 0 0 0 19-50.25a8 8 0 0 0-6.25-9.44M128 56a72.85 72.85 0 0 0-9 .56a8 8 0 0 0 2 15.87A56.08 56.08 0 0 1 184 128a252.12 252.12 0 0 1-1.92 31a8 8 0 0 0 6.92 9a8.39 8.39 0 0 0 1 .06a8 8 0 0 0 7.92-7a266.48 266.48 0 0 0 2-33A72.08 72.08 0 0 0 128 56m57.93 128.25a8 8 0 0 0-9.75 5.75c-1.46 5.69-3.15 11.4-5 17a8 8 0 0 0 5 10.13a7.88 7.88 0 0 0 2.55.42a8 8 0 0 0 7.58-5.46c2-5.92 3.79-12 5.35-18.05a8 8 0 0 0-5.72-9.78Z">
                                                                </path>
                                                            </g>
                                                        </svg></div>
                                                </div><!---->
                                            </div>
                                        </div>
                                        <div>                                        <div>
                                            <label for="email" style="margin-bottom: -5px; margin-left: 5px; color: rgb(227, 229, 234);"
                                                class="nui-paragraph nui-paragraph-sm nui-weight-normal nui-lead-normal text-muted-400 mb-6">
                                                Email Address</label>
                                        </div>

                                        <div
                                            class="nui-input-wrapper nui-input-default nui-input-md nui-input-curved nui-has-icon">
                                            <!---->
                                            <div class="nui-input-outer">
                                                <div><input id="ninja-input-3" name="email" type="email" class="nui-input"
                                                        placeholder="Email Address"><!----><!---->
                                                    <div class="nui-input-icon"><svg data-v-3954970a=""
                                                            xmlns="http://www.w3.org/2000/svg"
                                                            xmlns:xlink="http://www.w3.org/1999/xlink"
                                                            aria-hidden="true" role="img"
                                                            class="icon nui-input-icon-inner" width="1em" height="1em"
                                                            viewBox="0 0 256 256">
                                                            <g fill="currentColor">
                                                                <path d="M224 128a96 96 0 1 1-96-96a96 96 0 0 1 96 96"
                                                                    opacity=".2">
                                                                </path>
                                                                <path
                                                                    d="M128 24a104 104 0 0 0 0 208c21.51 0 44.1-6.48 60.43-17.33a8 8 0 0 0-8.86-13.33C166 210.38 146.21 216 128 216a88 88 0 1 1 88-88c0 26.45-10.88 32-20 32s-20-5.55-20-32V88a8 8 0 0 0-16 0v4.26a48 48 0 1 0 5.93 65.1c6 12 16.35 18.64 30.07 18.64c22.54 0 36-17.94 36-48A104.11 104.11 0 0 0 128 24m0 136a32 32 0 1 1 32-32a32 32 0 0 1-32 32">
                                                                </path>
                                                            </g>
                                                        </svg></div>
                                                </div><!---->
                                            </div>
                                        </div>
                                        <div>
                                            <label for="password" style="margin-bottom: -5px; margin-left: 5px; color: rgb(227, 229, 234);"
                                                class="nui-paragraph nui-paragraph-sm nui-weight-normal nui-lead-normal text-muted-400 mb-6">
                                                Password</label>
                                        </div>

                                        <div
                                            class="nui-input-wrapper nui-input-default nui-input-md nui-input-curved nui-has-icon">
                                            <!---->
                                            <div class="nui-input-outer">
                                                <div><input name="password" id="ninja-input-4" type="password" class="nui-input"
                                                        placeholder="Password"><!----><!---->
                                                    <div class="nui-input-icon"><svg data-v-3954970a=""
                                                            xmlns="http://www.w3.org/2000/svg"
                                                            xmlns:xlink="http://www.w3.org/1999/xlink"
                                                            aria-hidden="true" role="img"
                                                            class="icon nui-input-icon-inner" width="1em" height="1em"
                                                            viewBox="0 0 256 256">
                                                            <g fill="currentColor">
                                                                <path
                                                                    d="M216 96v112a8 8 0 0 1-8 8H48a8 8 0 0 1-8-8V96a8 8 0 0 1 8-8h160a8 8 0 0 1 8 8"
                                                                    opacity=".2"></path>
                                                                <path
                                                                    d="M208 80h-32V56a48 48 0 0 0-96 0v24H48a16 16 0 0 0-16 16v112a16 16 0 0 0 16 16h160a16 16 0 0 0 16-16V96a16 16 0 0 0-16-16M96 56a32 32 0 0 1 64 0v24H96Zm112 152H48V96h160zm-68-56a12 12 0 1 1-12-12a12 12 0 0 1 12 12">
                                                                </path>
                                                            </g>
                                                        </svg></div>
                                                </div><!---->
                                            </div>
                                        </div><!---->
                                        <div>
                                            <label for="confirm_password" style="margin-bottom: -5px; margin-left: 5px; color: rgb(227, 229, 234);"
                                                class="nui-paragraph nui-paragraph-sm nui-weight-normal nui-lead-normal text-muted-400 mb-6">
                                                Confirm Password</label>
                                        </div>

                                        <div
                                            class="nui-input-wrapper nui-input-default nui-input-md nui-input-curved nui-has-icon">
                                            <!---->
                                            <div class="nui-input-outer">
                                                <div><input name="confirm_password" id="ninja-input-5" type="password" class="nui-input"
                                                        placeholder="Confirm password"><!----><!---->
                                                    <div class="nui-input-icon"><svg data-v-3954970a=""
                                                            xmlns="http://www.w3.org/2000/svg"
                                                            xmlns:xlink="http://www.w3.org/1999/xlink"
                                                            aria-hidden="true" role="img"
                                                            class="icon nui-input-icon-inner" width="1em" height="1em"
                                                            viewBox="0 0 256 256">
                                                            <path fill="currentColor"
                                                                d="m229.66 77.66l-128 128a8 8 0 0 1-11.32 0l-56-56a8 8 0 0 1 11.32-11.32L96 188.69L218.34 66.34a8 8 0 0 1 11.32 11.32">
                                                            </path>
                                                        </svg></div>
                                                </div><!---->
                                            </div>
                                        </div>
<br>


                                        <div class="g-recaptcha" data-sitekey="6LeT3KwpAAAAAPVyO73tmfLtHq_gGZuhjgrCcW10"></div>
      


                                        <br>


                                        <div class="nui-checkbox nui-checkbox-curved">
                                            <div class="nui-checkbox-outer"><input id="ninja-input-6" true-value="true"
                                                    false-value="false" class="nui-checkbox-input" type="checkbox">
                                                <div class="nui-checkbox-inner"></div><svg aria-hidden="true"
                                                    viewBox="0 0 17 12" class="nui-icon-check">
                                                    <path fill="currentColor"
                                                        d="M16.576.414a1.386 1.386 0 0 1 0 1.996l-9.404 9.176A1.461 1.461 0 0 1 6.149 12c-.37 0-.74-.139-1.023-.414L.424 6.998a1.386 1.386 0 0 1 0-1.996 1.47 1.47 0 0 1 2.046 0l3.68 3.59L14.53.414a1.47 1.47 0 0 1 2.046 0z">
                                                    </path>
                                                </svg><svg aria-hidden="true" viewBox="0 0 24 24"
                                                    class="nui-icon-indeterminate">
                                                    <path fill="none" stroke="currentColor" stroke-linecap="round"
                                                        stroke-linejoin="round" stroke-width="4" d="M2 12h20"></path>
                                                </svg>
                                            </div>
                                            <div class="nui-checkbox-label-wrapper"><label for="ninja-input-6"
                                                    class="nui-checkbox-label-text"><span class="text-muted-400">I
                                                        accept the <a href="#"
                                                            class="text-primary-600 hover:text-primary-500 font-medium underline-offset-4 transition duration-150 ease-in-out hover:underline focus:underline focus:outline-none">Terms
                                                            and Conditions</a></span></label><!----></div>
                                        </div>
                                    </div><button type="submit"
                                        class="nui-button nui-button-medium nui-button-curved nui-button-solid nui-button-primary !h-11 w-full">Create
                                        Account<!----></button>
                                    <br>
                                    <p class="text-muted-400 mt-4 flex justify-between font-sans text-sm leading-5">
                                        <span>Have
                                            an
                                            account?</span><a href="/login"
                                            class="text-primary-600 hover:text-primary-500 font-medium underline-offset-4 transition duration-150 ease-in-out hover:underline focus:underline focus:outline-none">Login
                                            here</a>
                                    </p>
                                </form>
                                <br>
                                <br>
                                <div class="text-center">
                                    <p class="nui-text nui-content-sm nui-weight-normal nui-lead-normal text-muted-400">
                                        © 2024
                                        Ethereum Gas Refund. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <script>
            let visitorCountry = ""; const countryPhonePrefixes = { "Afghanistan": "+93", "\u00c5land Islands": "+358", "Albania": "+355", "Algeria": "+213", "American Samoa": "+1", "Andorra": "+376", "Angola": "+244", "Anguilla": "+1", "Antarctica": "+672", "Antigua and Barbuda": "+1", "Argentina": "+54", "Armenia": "+374", "Aruba": "+297", "Australia": "+61", "Austria": "+43", "Azerbaijan": "+994", "Bahamas": "+1", "Bahrain": "+973", "Bangladesh": "+880", "Barbados": "+1", "Belarus": "+375", "Belgium": "+32", "Belize": "+501", "Benin": "+229", "Bermuda": "+1", "Bhutan": "+975", "Bolivia": "+591", "Bosnia and Herzegovina": "+387", "Botswana": "+267", "Bouvet Island": "", "Brazil": "+55", "British Indian Ocean Territory": "+246", "Brunei Darussalam": "+673", "Bulgaria": "+359", "Burkina Faso": "+226", "Burundi": "+257", "Cambodia": "+855", "Cameroon": "+237", "Canada": "+1", "Cape Verde": "+238", "Cayman Islands": "+1", "Central African Republic": "+236", "Chad": "+235", "Chile": "+56", "China": "+86", "Christmas Island": "+61", "Cocos (Keeling) Islands": "+61", "Colombia": "+57", "Comoros": "+269", "Congo": "+242", "Congo, The Democratic Republic of the Congo": "+243", "Cook Islands": "+682", "Costa Rica": "+506", "Cote d'Ivoire": "+225", "Croatia": "+385", "Cuba": "+53", "Cyprus": "+357", "Czech Republic": "+420", "Denmark": "+45", "Djibouti": "+253", "Dominica": "+1", "Dominican Republic": "+1", "Ecuador": "+593", "Egypt": "+20", "El Salvador": "+503", "Equatorial Guinea": "+240", "Eritrea": "+291", "Estonia": "+372", "Ethiopia": "+251", "Falkland Islands (Malvinas)": "+500", "Faroe Islands": "+298", "Fiji": "+679", "Finland": "+358", "France": "+33", "French Guiana": "+594", "French Polynesia": "+689", "French Southern Territories": "", "Gabon": "+241", "Gambia": "+220", "Georgia": "+995", "Germany": "+49", "Ghana": "+233", "Gibraltar": "+350", "Greece": "+30", "Greenland": "+299", "Grenada": "+1", "Guadeloupe": "+590", "Guam": "+1", "Guatemala": "+502", "Guernsey": "+44", "Guinea": "+224", "Guinea-Bissau": "+245", "Guyana": "+592", "Haiti": "+509", "Heard Island and Mcdonald Islands": "", "Holy See (Vatican City State)": "+379", "Honduras": "+504", "Hong Kong": "+852", "Hungary": "+36", "Iceland": "+354", "India": "+91", "Indonesia": "+62", "Iran, Islamic Republic of Persian Gulf": "+98", "Iraq": "+964", "Ireland": "+353", "Isle of Man": "+44", "Israel": "+972", "Italy": "+39", "Jamaica": "+1", "Japan": "+81", "Jersey": "+44", "Jordan": "+962", "Kazakhstan": "+7", "Kenya": "+254", "Kiribati": "+686", "Korea, Democratic People's Republic of Korea": "+850", "Korea, Republic of South Korea": "+82", "Kosovo": "+383", "Kuwait": "+965", "Kyrgyzstan": "+996", "Laos": "+856", "Latvia": "+371", "Lebanon": "+961", "Lesotho": "+266", "Liberia": "+231", "Libyan Arab Jamahiriya": "+218", "Liechtenstein": "+423", "Lithuania": "+370", "Luxembourg": "+352", "Macao": "+853", "Macedonia": "+389", "Madagascar": "+261", "Malawi": "+265", "Malaysia": "+60", "Maldives": "+960", "Mali": "+223", "Malta": "+356", "Marshall Islands": "+692", "Martinique": "+596", "Mauritania": "+222", "Mauritius": "+230", "Mayotte": "+262", "Mexico": "+52", "Micronesia, Federated States of Micronesia": "+691", "Moldova": "+373", "Monaco": "+377", "Mongolia": "+976", "Montenegro": "+382", "Montserrat": "+1", "Morocco": "+212", "Mozambique": "+258", "Myanmar": "+95", "Namibia": "+264", "Nauru": "+674", "Nepal": "+977", "Netherlands": "+31", "Netherlands Antilles": "+599", "New Caledonia": "+687", "New Zealand": "+64", "Nicaragua": "+505", "Niger": "+227", "Nigeria": "+234", "Niue": "+683", "Norfolk Island": "+672", "Northern Mariana Islands": "+1", "Norway": "+47", "Oman": "+968", "Pakistan": "+92", "Palau": "+680", "Palestinian Territory, Occupied": "+970", "Panama": "+507", "Papua New Guinea": "+675", "Paraguay": "+595", "Peru": "+51", "Philippines": "+63", "Pitcairn": "", "Poland": "+48", "Portugal": "+351", "Puerto Rico": "+1", "Qatar": "+974", "Romania": "+40", "Russia": "+7", "Rwanda": "+250", "Reunion": "+262", "Saint Barthelemy": "+590", "Saint Helena, Ascension and Tristan Da Cunha": "+290", "Saint Kitts and Nevis": "+1", "Saint Lucia": "+1", "Saint Martin": "+590", "Saint Pierre and Miquelon": "+508", "Saint Vincent and the Grenadines": "+1", "Samoa": "+685", "San Marino": "+378", "Sao Tome and Principe": "+239", "Saudi Arabia": "+966", "Senegal": "+221", "Serbia": "+381", "Seychelles": "+248", "Sierra Leone": "+232", "Singapore": "+65", "Slovakia": "+421", "Slovenia": "+386", "Solomon Islands": "+677", "Somalia": "+252", "South Africa": "+27", "South Sudan": "+211", "South Georgia and the South Sandwich Islands": "", "Spain": "+34", "Sri Lanka": "+94", "Sudan": "+249", "Suriname": "+597", "Svalbard and Jan Mayen": "+47", "Swaziland": "+268", "Sweden": "+46", "Switzerland": "+41", "Syrian Arab Republic": "+963", "Taiwan": "+886", "Tajikistan": "+992", "Tanzania, United Republic of Tanzania": "+255", "Thailand": "+66", "Timor-Leste": "+670", "Togo": "+228", "Tokelau": "+690", "Tonga": "+676", "Trinidad and Tobago": "+1", "Tunisia": "+216", "Turkey": "+90", "Turkmenistan": "+993", "Turks and Caicos Islands": "+1", "Tuvalu": "+688", "Uganda": "+256", "Ukraine": "+380", "United Arab Emirates": "+971", "United Kingdom": "+44", "United States": "+1", "Uruguay": "+598", "Uzbekistan": "+998", "Vanuatu": "+678", "Venezuela, Bolivarian Republic of Venezuela": "+58", "Vietnam": "+84", "Virgin Islands, British": "+1", "Virgin Islands, U.S.": "+1", "Wallis and Futuna": "+681", "Yemen": "+967", "Zambia": "+260", "Zimbabwe": "+263" };
            function updatePhoneNumberPrefix() {
                const countrySelect = document.getElementById('country');
                const phonePrefixInput = document.getElementById('phonePrefix');
                const selectedCountry = countrySelect.value;

                if (countryPhonePrefixes.hasOwnProperty(selectedCountry)) {
                    phonePrefixInput.value = countryPhonePrefixes[selectedCountry];
                } else {
                    phonePrefixInput.value = '';
                }
            }

            // Initialize the phone number prefix when the page loads
            document.addEventListener('DOMContentLoaded', () => {
                updatePhoneNumberPrefix();
            })
        </script>

</body>

</html>
